@include desktop{
    .container{
        max-width: $container-width;
    }
}

@include ipad-pro {
   .container{
    max-width: 844px;
   }
}
@include iphone {
    .container{
        max-width: 100%;
        padding: 0 40px;
    }
 }