@font-face {
    font-family: 'Mark Pro';
    src: url('./fonts/') format('woff2'),
        url('./fonts/MarkPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mark Pro';
    src: url('./fonts/MarkPro.woff2') format('woff2'),
        url('./fonts/MarkPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

