body {
  overflow-x: hidden;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 86px;
  letter-spacing: 0em;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
}

.site-btn {
  min-width: 148px;
  border-radius: 0px;
  padding: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  background: #FFA409;
  color: #211651;
  text-decoration: none;
}
.site-btn:hover {
  color: #211651;
}

.site-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #EE5A46;
  position: relative;
  text-decoration: none;
}
.site-link svg {
  position: absolute;
  top: -4px;
  right: -22px;
}
.site-link:after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  background: #EE5A46;
  bottom: -4px;
  left: 0;
}
.site-link:hover {
  color: #EE5A46;
}

@font-face {
  font-family: "Mark Pro";
  src: url("./fonts/") format("woff2"), url("./fonts/MarkPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mark Pro";
  src: url("./fonts/MarkPro.woff2") format("woff2"), url("./fonts/MarkPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Mark Pro";
}

.menu {
  background: #66619F;
  padding-top: 46px;
  padding-bottom: 42px;
  /* styles for the menu container element go here */
  /* styles for the menu__list element go here */
}
.menu .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  /* styles for the menu__link element go here */
  margin-left: 14px;
  text-decoration: none;
  color: #F8F8F1;
  font-size: 16px;
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.menu__link--active, .menu__link:hover {
  color: #97DAEB;
  font-weight: 700;
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu__logo img {
    max-width: 142px;
  }

  .menu {
    padding: 32px 0;
  }
}
.banner {
  margin-top: 52px;
}
.banner__image {
  /* styles for the banner__image element go here */
  margin-bottom: 8px;
  max-width: 100%;
  height: auto;
}
.banner__title {
  /* styles for the banner__title element go here */
  font-family: "Mark Pro";
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 143px;
  max-width: 852px;
}
.banner__green {
  /* styles for the banner__green element go here */
  background: #87AB87;
}
.banner__green .container {
  position: relative;
}
.banner__green [data-fancybox] {
  position: relative;
  top: -64px;
}
.banner__green [data-fancybox] img {
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.banner__green [data-fancybox]:hover img {
  opacity: 0.95;
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.banner__green [data-fancybox]:hover .banner__play {
  transform: translate(-50%, -50%) scale(1.2);
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.banner__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.banner__content {
  /* styles for the banner__content element go here */
  padding-bottom: 96px;
}
.banner__content p {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  max-width: 1024px;
}
.banner__goUp {
  /* styles for the banner__goUp element go here */
  position: absolute;
  top: 50%;
  right: -72px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.banner__goUp:hover {
  opacity: 0.9;
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.featured-events {
  /* styles for the featured-events block go here */
  margin-bottom: 107px;
}
.featured-events__title {
  /* styles for the featured-events__title element go here */
  margin-top: 112px;
  margin-bottom: 94px;
  color: #211651;
}
.featured-events__cards {
  /* styles for the featured-events__cards element go here */
  display: flex;
  margin: 0 -24px;
  flex-wrap: wrap;
}
.featured-events__card {
  /* styles for the featured-events__card element go here */
  background: #EE5A46;
  margin: 24px;
  position: relative;
  width: calc(50% - 48px);
  margin-bottom: 42px;
}
.featured-events__card-title {
  /* styles for the featured-events__card-title element go here */
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  color: #211651;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 23px;
}
.featured-events__card-open {
  /* styles for the featured-events__card-open element go here */
  margin-left: 23px;
  padding-bottom: 28px;
}
.featured-events__card-open img {
  cursor: pointer;
}
.featured-events__card-text {
  /* styles for the featured-events__card-text element go here */
}
.featured-events__card-cta {
  /* styles for the featured-events__card-cta element go here */
  margin-top: 13px;
}
.featured-events__front {
  /* styles for the featured-events__card-front element go here */
  background: #fff;
  transform: translate(24px, -22px);
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.featured-events__front > img {
  height: 344px;
  width: 100%;
  object-fit: cover;
}
.featured-events__back {
  /* styles for the featured-events__back element go here */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFDDA2;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transform: translate(57px, -56px);
  padding: 39px 33px 30px 33px;
  -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.featured-events__back img {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
}
.featured-events__back p {
  font-size: 24px;
  font-weight: 450;
  line-height: 32px;
  letter-spacing: 0em;
}
.featured-events .site-link {
  margin-top: 14px;
}

.featured-events__card.is-open .featured-events__front {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.featured-events__card.is-open .featured-events__back {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.vision__title {
  color: #211651;
  margin-bottom: 16px;
}
.vision__content {
  margin-bottom: 34px;
  max-width: 955px;
}
.vision__content p {
  color: #666666;
  font-size: 24px;
  line-height: 32px;
}
.vision__tab {
  /* styles for the vision__tab element go here */
}
.vision__tab .nav {
  background: #97DAEB;
  max-width: 1120px;
  margin: 0 auto;
}
.vision__tab .nav-pills li {
  width: 33.33%;
  position: relative;
  right: -16px;
}
.vision__tab .nav-pills li:not(:last-child) {
  padding-right: 7px;
}
.vision__tab .nav-pills .nav-link {
  background: #FFDDA2;
  color: #66619F;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  top: -14px;
  width: 100%;
  border-radius: 0;
  height: 83px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.vision__tab .nav-pills .nav-link.active {
  background-color: #EE5A46;
  color: #fff;
  transform: translate(16px, -8px);
  z-index: 1;
  -webkit-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.info {
  margin-bottom: 90px;
  padding-left: 15px;
}
.info__title {
  color: #EE5A46;
  margin-top: 9px;
  margin-bottom: 8px;
}
.info__subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  color: #000000;
  margin-bottom: 48px;
}
.info__content {
  display: flex;
}
.info__col {
  width: 50%;
}
.info__col--left, .info__col--right {
  position: relative;
  padding-left: 20px;
  color: #000000;
}
.info__col--left b, .info__col--right b {
  color: #000000;
}
.info__col--left:before, .info__col--right:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 6px;
}

.news-slider {
  display: flex;
  margin-bottom: 144px;
}
.news-slider__title {
  display: flex;
  justify-content: space-between;
}
.news-slider__title h3 {
  color: #683174;
}
.news-slider__nav {
  display: flex;
}
.news-slider__left, .news-slider__right {
  cursor: pointer;
}
.news-slider__left {
  margin-right: 24px;
}
.news-slider__item {
  display: flex;
  align-items: center;
  padding-top: 40px;
}
.news-slider__image-col {
  background: #97DAEB;
  max-width: 490px;
  margin-right: 98px;
}
.news-slider__image {
  max-width: 100%;
  height: auto;
  max-width: 490px;
  position: relative;
  transform: translate(35px, -40px);
}
.news-slider__catDate {
  display: flex;
  align-items: center;
}
.news-slider__catDate .cat {
  color: #EE5A46;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
}
.news-slider__catDate .date {
  color: #777777;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  padding-left: 8px;
}
.news-slider__title {
  font-size: 32px;
  line-height: 43px;
  color: #211651;
  margin-top: 16px;
  margin-bottom: 24px;
}
.news-slider__content {
  line-height: 150%;
  color: #211651;
  max-width: 451px;
  margin-bottom: 32px;
}

#search-events {
  background: #87AB87;
  padding-top: 96px;
}
#search-events .featured-events {
  margin-bottom: 0;
}
#search-events .featured-events__card {
  width: calc(33.33% - 48px);
}
#search-events .featured-events__front > img {
  height: 260px;
}
#search-events .featured-events__card-title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 26px;
  margin-left: 25px;
}
#search-events .featured-events__card-open img {
  width: 36px;
}
#search-events .featured-events__back p {
  font-size: 16px;
}
#search-events .featured-events__back img {
  width: 26px;
}

input::placeholder {
  color: #211651;
}

.search-bar {
  background: #66619F;
  margin-bottom: 90px;
}
.search-bar__wrap {
  display: flex;
  align-items: center;
  position: relative;
  transform: translate(16px, -16px);
}
.search-bar__input {
  flex: 1;
  padding: 15px 22px;
  border-radius: 0;
  background: #97DAEB;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  color: #211651;
  border: 0;
}
.search-bar__input:focus {
  border: 0;
  outline: 0;
}
.search-bar__button {
  box-shadow: none;
  border: 0;
  background: transparent;
  position: absolute;
  right: 0;
  margin-right: 19px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__link {
  display: block;
  padding: 0.5rem;
  color: #333;
  text-decoration: none;
}
.pagination__link--prev, .pagination__link--next {
  font-weight: bold;
}
.pagination__link--num.is-active {
  font-weight: bold;
}

@media only screen and (min-device-width: 1025px) {
  .container {
    max-width: 1176px;
  }
}
@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    max-width: 820px;
  }
}
@media only screen and (max-device-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
}

/*# sourceMappingURL=custom.css.map */
